include README.md
include LICENSE
include VERSION
include pyproject.toml
include requirements.txt

graft planktonclass

prune data
prune docs
prune models
prune notebooks



exclude config.yaml

global-exclude __pycache__
global-exclude *.py[cod]
